<main>
  <p-toast />
  <h1>ioasys <span class="title">Repositories</span></h1>
  <form [formGroup]="loginForm">
    <div class="formgroup-inline">
      <div class="field col-12">
        <p-floatLabel>
          <input pInputText id="email"
          variant="filled"
          aria-labelledby="emailLabel"
          aria-describedby="emailNaoPreenchido emailInvalido"
          formControlName="email" />
          <label id="emailLabel" for="email">Email</label>
        </p-floatLabel>
        @if(loginForm.controls.email.touched && loginForm.controls.email.invalid){

          @if(loginForm.controls.email.errors?.['required']){
            <small id="emailNaoPreenchido" class="text-primary-50" id="username-help">
              Preencha o campo com seu email.
          </small>
          }

          @if(loginForm.controls.email.errors?.['email']){
            <small id="emailInvalido" class="text-primary-50" id="username-help">
             Digite um email válido.
          </small>
          }
        }

      </div>
      <div class="field col-4">
            <p-floatLabel>
              <input type="password"
              aria-describedby="SenhaEmBranco SenhaSemMinimoCaracteres"
              aria-labelledby="senhaLabel"
              pInputText
              variant="filled"
              formControlName="password"
               />
              <label id="senhaLabel" for="password">Senha</label>
            </p-floatLabel>

            @if(loginForm.controls.password.touched && loginForm.controls.password.invalid){

              @if(loginForm.controls.password.errors?.['required']){
                <small id="SenhaEmBranco" class="text-primary-50" id="username-help">
                  Senha obrigátoria!
               </small>
              }

               @if(loginForm.controls.password.errors?.['minlength']){
                <small id="SenhaSemMinimoCaracteres" class="text-primary-50" id="username-help">
                  A senha possui pelo menos
                  {{ loginForm.controls.password.errors?.['minlength']?.requiredLength }}
                  caracteres.
               </small>
              }
              }
<div class="col-12">
  <button pButton
  class="mt-3" label="Entrar"
  pRipple
  [raised]="true"
  severity="help"
  (click)="login()">
  </button>
</div>


      </div>
    </div>
  </form>
</main>
