<main>
  <h1>ioasys <span class="title">Repositories</span></h1>
  <form [formGroup]="loginForm">
    <div class="formgroup-inline">
      <div class="field col-8">
        <p-floatLabel>
          <input pInputText id="email" formControlName="email" />
          <label for="email">Email</label>
        </p-floatLabel>
      </div>
      <div class="field col-8">
        <div class="formgrid-inline">
            <p-floatLabel>
              <p-password class="" formControlName="password" />
              <label for="password">Senha</label>
            </p-floatLabel>
            <button pButton class="mt-2" label="Entrar" pRipple (click)="login()">
            </button>
        </div>

      </div>
    </div>
  </form>
</main>
